---
import { actions } from "astro:actions";
import { db, eq, Notes } from "astro:db";
import Layout from "@/layouts/Layout.astro";

if (!Astro.locals.auth().userId) {
  return Astro.redirect("/");
}

const user = await Astro.locals.currentUser();

if (!user) {
  return Astro.redirect("/");
}

const result = Astro.getActionResult(actions.notes.create);

const notes = await db.select().from(Notes).where(eq(Notes.userId, user.id));
---

<Layout>
  <h1>You're signed in!</h1>
  {JSON.stringify(result)}
  <ul>
    {
      notes.map((note) => (
        <li>
          <a href={`/dashboard/notes/${note.id}`}>{note.title}</a>
        </li>
      ))
    }
  </ul>

  <form method="POST" action={actions.notes.create}>
    <input type="text" name="title" placeholder="Title" />
    <textarea rows={4} name="content" placeholder="Content"></textarea>
    <input type="hidden" name="userId" value={user.id} />
    <input type="hidden" name="isPublic" value="false" />
    <button type="submit">Create Note</button>
  </form>
</Layout>
